<div class="container">
	<%= link_to "Add new team", new_team_path, class: "btn btn-primary pull-right" %>
	<section class='space-20'></section>
		<% if @teams.any? %>
	 		<h2 class="text-center">All teams</h2> 
		  <table class="table">
		    <thead>
		      <tr>
		      	<th>#</th>
		        <th>Player One</th>
		        <th>Player Two</th>
		        <th>Total Wins</th>
		        <th>Options</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @teams.each do |team| %>
			      <tr>
			      	<td><%= "#" %></td>
			        <td><%= team.player_one %></td>
			        <td><%= team.player_two %></td>
			        <td><%= team.wins %></td>
			        <td><%= link_to "View Team", team_path(team), class: "" %>
			         / <%= link_to "Delete Team", team_path(team), method: :delete %></td>
			      </tr>
		     	<% end %>
		    </tbody>
		  </table>
		<% else %>
			<p>No teams yet.<p>
		<% end %>
	</div>