
<div class="col-sm-6 col-centered">
  <h2 class="text-center">Create your new team below</h2>
  <%= form_for @team do |f| %>
    <%= f.label :player_one %>
    <%= f.select :player_one, User.all.map{|u| ["#{u.first_name} #{u.last_name}", u.id] }, { :prompt => "Select player One from the dropdown"}, class: "form-control" %>
    <br>
    <%= f.label :player_two %>
    <%= f.select :player_two, User.all.map{|u| ["#{u.first_name} #{u.last_name}", u.id] }, { :include_blank => "Leave blank if playing Solo" }, class: "form-control" %>
    <br>
    <%= f.submit "Create Team!", class: "form-control btn btn-primary" %>
  <% end %>
</div>

