<div class="container">
  <h2>Playing History for <%= @team.users.first.first_name %>  &  <%= @team.users.last.try(:first_name) %> </h2>
  <p>Matches Played: <%= @team.matches.count %></p> 
  <p>Matches Won: <%= @team.try(:wins) %></p> 
  <p>Matches Lost: <%=  @team.matches.count - @team.wins.to_i %></p> 
  <p>Win Percentage: <%= ((@team.wins.to_f / @team.matches.count) * 100).round(2) %>%</p>          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Matchup</th>
        <th>Date</th>
        <th>Score</th>
        <th>Winner</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @team.matches.each_with_index do |match, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= match.teams.first.users.first.first_name %> & <%= match.teams.first.users.last.first_name %> vs. <%= match.teams.last.users.first.first_name %> & <%= match.teams.last.users.last.first_name %></td>
          <td><%= match.created_at.strftime("%m/%d/%Y")  %></td>
          <td><%= match.team_one_score %> : <%= match.team_two_score %></td>
          <td><% if match.winner? == match.team_one %> <%= 
            "#{match.teams.first.users.first.first_name} & #{match.teams.first.users.last.first_name}" %> <% else %> <%= "#{match.teams.last.users.first.first_name} & #{match.teams.last.users.last.first_name}" %><% end %></td>
          <td><%= link_to "Edit Match", edit_match_path(match) %> / <%= link_to "Delete Match", match_path(match), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>