<div class="container">
<div class="col-sm-8 col-centered">
    <h2 class="text-center">Team Rankings</h2> 
    <p class="text-center">Ranked by win %</p> 
    <section class="space-20"></section>
    <% if @teams.any? %>
    <table class="table">
      <thead>
        <tr>
          <th> </th>
          <th>Player One</th>
          <th>Player Two</th>
          <th>Total Wins</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
        <% Team.sorted_by_percentage_correct.each do |team, index| %>
          <tr>
            <td><%= link_to "View Team", team_path(team), class: "" %></td>
            <td><%= team.users.first.first_name %></td>
            <td><%= team.users.last.first_name %></td>
            <td><%= team.wins %></td>
            <td> <%= team.team_win_percentage %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="centered"><em>Sorry but there are no teams yet at all :(</em><p>
  <% end %>
</div>
</div>
