<div class="col-sm-6 col-centered">
  <h2 class="text-center">Edit this matchup below</h2>
	<%= form_for [@match], :html => {:multipart => true} do |f| %>
		<%= @match.teams.first.player_one %> & <%= @match.teams.first.player_two %>
		<%= f.select :team_one_score, (0..10), class: "form-control" %>
		<br>
		<%= @match.teams.last.player_one %> & <%= @match.teams.last.player_two %>
		<%= f.select :team_two_score, (0..10), class: "form-control" %>
		<br>
		<br>
	  <%= f.submit "Edit Match!", class: "btn" %>
	<% end %>
</div>
