<div class="container">
	<%= link_to "Add new match", new_match_path, class: "btn btn-primary pull-right" %>
	<section class='space-20'></section>
	
	 		<h2 class="text-center">All matches</h2> 
		  <table class="table">
		    <thead>
		      <tr>
		      	<th>#</th>
		        <th>Team One</th>
		        <th>Team Two</th>
		        <th>Total Wins</th>
		        <th>Options</th>
		      </tr>
		    </thead>
		    <tbody>
			      <tr>
			      	<td><%= "#" %></td>
			        <td><%= "." %></td>
			        <td><%= "." %></td>
			        <td><%= "." %></td>
			        <td><%= "." %></td>
			      </tr>
		    </tbody>
		  </table>

			<p>No matches yet.<p>

	</div>