<div class="container">          
  <table class="table">
  <h2 class="text-center">Match stats</h2>
    <thead>
      <tr>
        <th>Matchup</th>
        <th>Date</th>
        <th>Score</th>
        <th>Winner</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <%  %>
	      <tr>
	        <td>
	        <%= link_to "Team #1", team_path(@match.teams.first) %>
					<%= @match.team_one_player_one %> & 
					<% if @match.team_one_player_two %> 
						<%= @match.team_one_player_two %> 
					<% end %>

					vs.
					
					<%= link_to "Team #2", team_path(@match.teams.last) %>
					<%= @match.team_two_player_one %> & 
					<% if @match.team_two_player_two%> 
						<%= @match.team_two_player_two %> 
					<% end %>
					</td>
			    <td><%= @match.created_at.strftime("%m/%d/%Y")  %></td>
			    <td><%= @match.team_one_score %> : <%= @match.team_two_score %></td>
					<td><%= @match.match_winner %></td>
			    <td><%= link_to "Edit Match", edit_match_path(@match) %> / <%= link_to "Delete Match", match_path(@match), method: :delete %></td>
			  </tr>
    </tbody>
  </table>
</div>